{% extends "index.html" %}
{%- block content -%}
<div class="container {{ grid_size }}">
    <div class="content-title text-center">
    <h1 class="post-title">Tags</h1>
    </div>
    <ul>
        {%- for term in terms -%}
            <li class="tag-list">
                <a href="{{ get_taxonomy_url(kind="tags", name=term.name) }}">#{{ term.name }}</a>
                ({{ term.pages | length }} post{{ term.pages | length | pluralize}})
            </li>
        {%- endfor -%}
    </ul>
</div>
{%- endblock content -%}
