#body-wrapper {
  margin-top: 1rem;
}

/* Cards */
.card {
  .post-title {
    font-weight: 600;

    a {
      font-size: 32px;
    }
  }

  .label {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: .2rem;

    &.tag {
      color: #454d5d;
      background-color: white;
      margin: 1px;
      padding: 3px 5px;
      font-family: "UniversNextPro-MediumExt",Arial,Helvetica,sans-serif;
      border: solid 1px #b3b3b3;
      line-height: normal;
      text-align: center;
      opacity: .5;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #acb3c2;
  }
}

/** Breadcrumbs **/
#breadcrumbs {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  span, a {
    padding: 0 0.5rem;
    &:first-child {
      padding-left: 0;
    }
  }

  span, a {
    &:not(:first-child)::before {
      content: ">";
      padding-right: 1rem;
    }
  }
}

/** Listing **/
.blog-listing {
  .card {
    margin-bottom: 25px;
    border: 0;
    box-shadow: 0 10px 45px -9px rgba(0,0,0,0.1);

    & .card-image:first-child img {
      opacity: 0.9;
    }

    &:hover {
      box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.10);
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;

      & .card-image:first-child img{
        opacity: 1;
      }
    }

  }

  .card-footer {
    text-align: right;
  }
}

ul.taxonomy {
  list-style: circle;
}

/** Pagination **/
ul.pagination {
  justify-content: center;
}

/** Sidebar **/
#sidebar {
  ul.related-pages {
    box-shadow: none;
    padding: 0;
    z-index: 1;

    li {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: 0;
      }
    }

  }

  ul.archives {
    list-style: none;
    margin-left: 0;

    .label {
      vertical-align: text-top;
    }
  }
}

.sidebar-widget {
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

/** Cards **/
.card {
  border-radius: 1rem;
  margin-bottom: 2rem;

  .post-title a {
    font-weight: 600;
  }

  & .card-image:first-child img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

/** Pagination */
.pagination {
  padding: 1rem;
  border-radius: 1rem;
}

.paginator {
  background: linear-gradient(225deg,#3085EE 0%,#1167D0 65%,#001D4A 100%);

  & .page-item a {
    color: white;

    &:hover {
      color: white;
      font-weight: 600;
    }
  }
}
