:root {
  --color-primary: rgb(255,168,106);
  --color-primary-alpha-10: rgba(255, 168, 106, .1);
  --color-primary-alpha-20: rgba(255, 168, 106, .2);
  --color-primary-alpha-70: rgba(255, 168, 106,.7);
  --color-primary-darken-3: rgb(250, 161, 0);
  --color-primary-darken-5: rgb(240, 154, 0);
  --color-primary-darken-7: rgb(229, 148, 0);
  --color-primary-darken-8: rgb(224, 145, 0);
  --color-primary-darken-10: rgb(214, 138, 0);
  --color-primary-lighten-10: rgb(255, 186, 61);
  --color-secondary: rgb(255, 236, 201);
  --color-background: rgb(248, 248, 248);
  --color-backround-alpha-50: rgba(248, 248, 248, 50);
  --color-background-lighter: white;
  --color-background-twitter-widget: white;
  --color: #454d5d;
  --color-lighter: #acb3c2;
  --color-lighter-alpha-70: rgba(172, 179, 194, 0.7);
  --color-darker: #454d5d;
  --color-header: #454d5d;
  --color-header-alpha-80: rgba(69, 77, 93, 0.8);
  --color-header-light: white;
  --color-header-light-alpha-80: rgba(255, 255, 255, 0.8);
  --border-color: rgba(255, 255, 255, .1);
  --color-mobile-active: white;
  --color-mobile-main: rgb(255,168,106);
  --color-gray-dark: rgb(69, 77, 93);
  --color-gray-dark: rgb(69, 77, 93);
  --color-success: #32b643;
  --color-warning: #ffb700;
  --color-error: #e85600;
}

[data-theme="dark"] {
  --color-background: rgb(26, 32, 44);
  --color-background-lighter: rgb(45, 55, 72);
  --color: rgb(203, 213, 224);
  --border-color: rgba(255, 255, 255, .1);
}
