{% extends "index.html" %}
{%- block content -%}
<div class="container {{ grid_size }}">
    <div class="content-title text-center">
      <h1 class="post-title">Categories</h1>
    </div>
    <ul>
      {%- for cat in terms -%}
          <li class="tag-list">
              <a href="{{ get_taxonomy_url(kind="categories", name=cat.name) }}">{{ cat.name }}</a>
              ({{ cat.pages | length }} post{{ cat.pages | length | pluralize }})
          </li>
      {%- endfor -%}
    </ul>
</div>
{%- endblock content -%}
