{% macro footer(grid_size) %}
<section id="footer">
  <section class="container {{ grid_size }}">
    <div class="columns">
      <div class="column col-9 col-sm-12">
        <p><a href="https://github.com/mr-chrome/zhuia">Zhuia</a> by <a href="https://github.com/mr-chrome">mr-chrome</a> | built on Zola</p>
      </div>
      <div class="column col-3 col-sm-12">
        {# theme_switcher::switch() #}
        {# Social media here #}
      </div>
    </div>
  </section>
</section>
{% endmacro footer %}

{% macro scripts() %}
{% if config.extra.darkmode_switch %}
{{ theme_switcher::script() }}
{% endif %}

{% if config.build_search_index %}
{{ search::script(popover="search-popover", bar="search", button="search-button") }}
{{ search::script(popover="mobile-popover", bar="mobile-search", button="mobile-button") }}
{% endif %}
{% endmacro scripts %}
