{% macro header(grid_size) %}
<header id="header" class="section">
  <section class="container {{ grid_size }}">
    <nav class="navbar">
      <section class="navbar-section">
        {{ menu::home() }}
      </section><!-- ./home button -->
      <section class="navbar-center hide-md">
      </section>
      <section class="navbar-section desktop-menu">
        <nav class="dropmenu animated">
          {%- if config.languages -%}
            {{ lang::langswitcher() }}
          {%- endif -%}

          {% if config.extra.main_menu -%}
            {{ menu::items(menu=config.extra.main_menu) }}
          {% endif -%}
        </nav>
      </section><!-- ./desktop-menu -->
    </nav>
  </section><!-- ./container -->
</header>

{{ menu::mobile_button() }}
{% endmacro header %}
