{%- macro logo() -%}
<style type="text/css" media="screen"> 
  .logo div {
      max-width: 280px;
  }
  
 @media screen and (max-width: 840px) {
    .logo div {
        max-width: 200px;
    }
  }

 @media screen and (max-width: 600px) {
    .logo div {
        max-width: 150px;
    }
  }


</style>
<!--a href="{%- if config.extra.logo_home_link -%}{{ config.extra.logo_home_link }}{%- else -%}{{ config.base_url }}{%- endif -%}"-->
  <div class="logo">
    {% if config.extra.logo_image %}
      <div class="col-mx-auto">
        <figure style="margin: 8px">
          <img class="img-responsive" alt="frontmatter image" src="{{ config.extra.logo_image }}">
        </figure>
      </div>
    {% else %}
      {{ config.title | default(value="zhuia") }}
    {% endif %}
  </div>
<!--/a-->
{%- endmacro logo -%}
