{% extends "index.html" -%}

{%- block title %}
    <title>Not Found - 404</title>
{%- endblock title -%}

{%- block og_preview -%}
{# og_preview not desired here #}
{%- endblock og_preview -%}

{%- block content -%}
<div class="post">
  <div class="content-title text-center">
    <h1 class="post-title">Not Found - 404</h1>
    </div>

    <div class="post-content">
      <p class="text-center">
        The page you requested was not found.<br>
        You can try to find it by browsing the menus.
      </p>
      {# Check if there are menu items to render, yes if > 0 #}
      {%- set num = config.extra.main_menu | length -%}
      {% if num > 0 -%}
          <ul>
            {{ menu::items(menu=config.extra.main_menu) }}
          </ul>
      {% endif -%}

    {% if config.extra.ddg_search %}
    <p>
      Otherwise, you can search all over the website from the search bar up here.
    </p>

    <!-- div class="search-container">{# TODO #}</div --> 

    {% endif %}{# ./if ddg_search #}
    </div>
</div>
{%- endblock content -%}
