{# TODO - import macros #}

<!DOCTYPE html>
<html lang="{{ config.default_language }}" data-theme="light" dir="ltr">
  <head>
    {%- block title -%}
        <title>{{ config.title }}</title>
    {%- endblock title -%}

    {%- block general_meta -%}
    {%- endblock general_meta -%}

    {%- block og_preview -%}
    {%- endblock og_preview -%}

    {%- block twitter_preview -%}
    {%- endblock twitter_preview -%}

    {%- block fonts -%}
    {%- endblock fonts -%}

    {%- block css -%}
    {%- endblock css -%}

    {%- block favicon -%}
    {%- endblock favicon -%}

    {%- block rss -%}
    {%- endblock rss -%}

    {%- block math -%}
    {%- endblock math -%}
  </head>
  <body>

  </body>
</html>
