// Labels
.label {
  @include label-base();
  @include label-variant(lighten($body-font-color, 5%), $bg-color-dark);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; 
  }

  // Label colors
  &.label-primary {
    @include label-variant(var(--background), var(--color-primary));
  }

  &.label-secondary {
    @include label-variant(var(--color-primary), var(--color-secondary));
  }

  &.label-success {
    @include label-variant(var(--background), var(--color-success));
  }

  &.label-warning {
    @include label-variant(var(--backround), var(--color-warning));
  }

  &.label-error {
    @include label-variant(var(--background), var(--color-error));
  }
}
